<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <title>🌄</title>
  <link rel="stylesheet" type="text/css" href="static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/sign-in.css">
  <link rel="stylesheet" type="text/css" href="static/css/app.css">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <main class="form-signin">
    <form>
      <!-- <img class="mb-4" src="/static/img/zap.png" alt="" width="72"> 🗻 FLECK -->
      <h1 class="form-signin-heading">🌄_FLECK</h1>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit"><i class="bi-google"></i></button>
      <p class="mt-5 mb-3 text-muted">&copy; '24/elekram</p>
    </form>
  </main>
</body>

</html>